**/__pycache__
**/*.py[cod]
**/*$py.class
**/*.so
**/build
**/dist
**/*.egg-info
**/.installed.cfg
**/*.egg
**/.env
**/.venv
**/env
**/venv
**/ENV
**/.pytest_cache
**/.mypy_cache
**/.tox
**/.nox
**/.coverage
**/htmlcov
**/.idea
site
fly.toml
