Quart>=0.23.1
Hypercorn>=0.18.0
quart-cors>=0.8.0
SQLAlchemy[asyncio]>=2.1.2
asyncpg>=0.30.0
Loglan-Core>=0.5.0
pyTelegramBotAPI>=4.37.0
callbaker>=1.4.0
keyboa>=3.1.0
beautifulsoup4>=4.15.0
lxml>=6.1.3
aiohttp>=3.12.0
python-dotenv>=1.2.4