callbaker~=1.4.0
Flask~=3.0.0
gunicorn~=21.2.0
keyboa~=3.1.0
psycopg2-binary~=2.9.9
SQLAlchemy~=2.0.21
pyTelegramBotAPI~=4.14.0
Loglan-Core~=0.1.1

Flask-Bootstrap~=3.3.7.1
flask-marshmallow~=0.15.0
Flask-SQLAlchemy~=3.1.1
marshmallow-sqlalchemy~=0.29.0
marshmallow~=3.20.1
